body {
    font-family: Arial, sans-serif;
    background: radial-gradient(#fff,#774b4b);
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #000;
    text-align: center;
}

input {
    width: 95%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #aaa;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #888;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #666;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.ca {
    display: block;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.ca:hover {
    text-decoration: underline;
}

.logo-container {
    text-align: center;
    margin-bottom: 15px;
}

.logo-container img {
    width: 100px;
    height: auto;
}
